<div ng-repeat="containers in model" class="advancedDemo">
  <div  class="dropzone">
    <h3>{{containers.label}}</h3>
    <!--the fields that can be drag and dropped-->
    <ul dnd-list="containers.people"
        dnd-allowed-types="containers.allowedTypes"
        dnd-horizontal-list="true"
        dnd-external-sources="true"
        dnd-disable-if="false"
        class="itemlist">
      <li ng-repeat="item in containers.people"
          dnd-draggable="item"
          dnd-type="item.type"
          dnd-moved="containers.people.splice($index, 1); logEvent('Item moved', event)">
        {{item.name}}
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
</div>
<h2>Generated Model</h2>
<pre>{{modelAsJson}}</pre>

