
<div class="col-md-12">
  <h1>Create input field</h1>
  <hr/>
</div>


<div class="col-md-12">
  <div class="col-md-6">
    <div layout="column" ng-cloak="" class="inputdemoErrors" >

      <md-content layout-padding="">
        <form name="projectForm">

          <md-input-container  class="md-block">
            <label>Name</label>
            <input required="" name="inputName" ng-model="inputConfig.inputName">
            <div ng-messages="projectForm.inputName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container  class="md-block">
            <label>Pattern (RegEx)</label>
            <input name="inputPattern" ng-model="inputConfig.inputPattern">
          </md-input-container>

          <md-input-container  class="md-block">
            <label>Pattern Message</label>
            <input name="inputPattern" ng-model="inputConfig.inputPatternMessage">
          </md-input-container>


          <md-input-container class="md-block">
            <label>Bootstrap class</label>
            <md-select name="type" ng-model="inputConfig.classs" required="">
              <md-option value="col-md-1">col-md-1</md-option>
              <md-option value="col-md-2">col-md-2</md-option>
              <md-option value="col-md-3">col-md-3</md-option>
              <md-option value="col-md-4">col-md-4</md-option>
              <md-option value="col-md-5">col-md-5</md-option>
              <md-option value="col-md-6">col-md-6</md-option>
              <md-option value="col-md-7">col-md-7</md-option>
              <md-option value="col-md-8">col-md-8</md-option>
              <md-option value="col-md-9">col-md-9</md-option>
              <md-option value="col-md-10">col-md-10</md-option>
              <md-option value="col-md-11">col-md-11</md-option>
              <md-option value="col-md-12">col-md-12</md-option>
            </md-select>
          </md-input-container>


          <div layout-wrap="" layout-gt-sm="row">
            <div flex-gt-sm="50">
              <md-checkbox ng-model="inputConfig.requiredValue" aria-label="Checkbox 1">
                Required
              </md-checkbox>
              <span style="font-size: 0.5em;font-family: cursive;">* don't change this after selecting input type</span>
            </div>
          </div>

          <div layout-wrap="" layout-gt-sm="row">
            <div flex-gt-sm="50">
              <md-checkbox ng-model="inputConfig.showValue" aria-label="Checkbox 2">
                Show
              </md-checkbox>
            </div>
          </div>

          <div layout-wrap="" layout-gt-sm="row">
            <div flex-gt-sm="50">
              <md-checkbox ng-model="inputConfig.disabledValue" aria-label="Checkbox 3">
                Disabled
              </md-checkbox>
            </div>
          </div>

          <md-input-container class="md-block">
            <label>Input Type</label>
            <md-select name="type" ng-model="inputConfig.inputType" required="">
              <md-option value="text">Text</md-option>
              <md-option value="number">Number</md-option>
            </md-select>
          </md-input-container>



          <div>
            <md-button class="md-raised" ng-click="addInput(inputConfig)">Add this input</md-button>
          </div>

        </form>
      </md-content>

    </div></div>
  <div class="col-md-6">
    <!--preview side-->
    <h2>Preview</h2>
    <br/><br/><br/>
    <div ng-switch="inputConfig.inputType">
      <div ng-switch-when="text" class="{{inputConfig.classs}}">
        <form name="form" ng-show="inputConfig.showValue">
          <div layout="row">
            <md-input-container flex="100">
              <label>{{inputConfig.inputName}}</label>
              <input type="{{inputConfig.inputType}}"
                     ng-pattern="{{inputConfig.inputPattern}}"
                     ng-required="{{ inputConfig.requiredValue }}"
                     ng-disabled="inputConfig.disabledValue">
              <div ng-messages="form.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="pattern">ksjdfhkjsdhfk.</div>
              </div>
            </md-input-container>
          </div>
        </form>
      </div>
      <div ng-switch-when="number" class="{{inputConfig.classs}}">
        <form name="form" ng-show="inputConfig.showValue">
          <div layout="row">
            <md-input-container flex="100">
              <label>{{inputConfig.inputName}}</label>
              <input type="{{inputConfig.inputType}}"
                     ng-required="{{ inputConfig.requiredValue }}"
                     ng-disabled="inputConfig.disabledValue">
              <div ng-messages="form.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


