<hr/>
<p>This is the main view.{{lol}}</p>
<hr/>

<!--http calling not necessary now-->
<!--<h3>data from $http service</h3>-->
<!--<div ng-repeat="user in users">-->
  <!--{{user.firstName}}-->
<!--</div>-->

<!--disabling angular material temporarily-->
<!--<form name="projectForm">-->
<!--<md-input-container flex="100">-->
  <!--<label>Client Name</label>-->
  <!--<input required="" name="clientName" ng-model="project.clientName">-->
  <!--<div ng-messages="projectForm.clientName.$error">-->
    <!--<div ng-message="required">This is required.</div>-->
  <!--</div>-->
<!--</md-input-container>-->
<!--</form>-->


