<div class="col-md-12">
  <h1>Modify Input fields</h1>
  <hr/>
</div>

<div class="col-md-12" >
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Display</th>
      <th>Required</th>
      <th>Disable</th>
    </tr>
    </thead>
    <tbody >
    <tr ng-repeat="field in inputFields" >
      <th scope="row">{{field.name}}</th>
      <td>
        <md-checkbox ng-model="field.show" aria-label="Checkbox 1"></md-checkbox>
      </td>
      <td>
        <md-checkbox ng-model="field.required" aria-label="Checkbox 1"></md-checkbox>
      </td>
      <td>
        <md-checkbox ng-model="field.disabled" aria-label="Checkbox 1"></md-checkbox>
      </td>
    </tr>
    </tbody>
  </table>
  <div>
    <md-button class="md-raised" ng-click="applyChanges(inputFields)">Apply Changes</md-button>
  </div>
</div>

